@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast keelepuristi lehele!</h1>
</div>
<p>
    Keelepurist on lihtne koskkond eesti keele harjutamiseks. Keeleoskusi paneme proovile nii lünkharjutuste kui ka etteütlusega, kus vastuseid kontrollime automaatselt.
</p>