@page
@model KeelepuristMain.PrivacyModel
@{
    ViewData["Title"] = "Privaatsus";
}

<h1>Privaatsus</h1>

<p>
    Keelepurist kasutab funktsionaalseks toimimiseks küpsiseid, milles hoiustatakse ajutiselt kasutaja õigused ja sätestused. Lehekülge edasi kasutades nõustud nende kasutamisega.
</p>
<br />
<p>
    Küpsistes sisalduvat teavet kasutatakse isiksuse tõestamiseks, teile kontokohase teabe näitamiseks ning teie failide teiste omadest eristamiseks.
</p>