@page
@model KeelepuristMain.AdminIndexModel
@{
    ViewData["Title"] = "AdminIndex";
}

<h1>Haldamine</h1>

<ul>
    <li>
        <a asp-page="./AdminTestGlossary">Kontrolltööde ülesanded</a>
    </li>
    <li>
        <a asp-page="./AdminSubmittedTestsGlossary">Kontrolltööde lahendused</a>
    </li>
</ul>