@page
@model KeelepuristMain.AdminTestGlossaryModel
@{
    ViewData["Title"] = "TestExerciseList";
}

<h1>Kontrolltööde haldus</h1>

<a class="btn btn-light" asp-page="./AdminTestEditor">
    Loo uus kontrolltest  <i class="material-icons" style="font-size:1.1em">add</i>
</a>

<ul class="file-system">
    @foreach (var path in Model.TestExercises)
    {
        <li>
            <a class="btn btn-link btn-small" asp-page="./AdminTestEditor" asp-route-blobName="@path">
                @path
            </a>
        </li>
    }
</ul>

<a class="btn btn-light" asp-page="./AdminIndex">
    <i class="material-icons" style="font-size:1.1em">arrow_back</i>  Tagasi haldusesilehele
</a>