@page
@model KeelepuristMain.AdminIndexModel
@{
    ViewData["Title"] = "AdminIndex";
}

<h1>Haldamine</h1>

<ul class="file-system">
    <li>
        <a class="btn btn-light" asp-page="./AdminTestGlossary">
            Kontrolltööde ülesanded  <i class="material-icons" style="font-size:1.5em">arrow_forward</i>
        </a>
    </li>
    <li>
        <a class="btn btn-light" asp-page="./AdminSubmittedTestsGlossary">
            Kontrolltööde lahendused  <i class="material-icons" style="font-size:1.5em">arrow_forward</i>
        </a>
    </li>
</ul>