@page
@model KeelepuristMain.DictationModel
@{
    ViewData["Title"] = "Etteütlus";

}

<h1>Etteütlus</h1>

<div>
    <audio id="audio" autoplay>
        <source src="@Model.WavFileURL" type="audio/wav" />
    </audio>
    <button type="button" class="btn btn-default" onclick='document.getElementById("audio").play()'>
        <i class="material-icons" style="font-size:1em">play_circle_outline</i>  Mängi heli
    </button>
</div>

<div>
    <label>Sõna: </label>
    <input id="0"
           name='@string.Join("|", Model.BlankSpace.CorrectAnswers)'
           type="text"
           onclick="resetBlankSpace(0)"
           autofocus />
    <button type="button" class="btn btn-primary" onclick="checkAnswers()">
        <i class="material-icons" style="font-size:1em">done</i>  Esita
    </button>
</div>

<div>
    <a class="btn btn-light" asp-page="./Etteytlus">Uus sõna</a>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/myValidate.js"></script>
}