@page
@model KeelepuristMain.EtteytlusModel
@{
    ViewData["Title"] = "etteütlus";

}

<h1>etteytlus</h1>

<audio id="audio" autoplay>
    <source src="@Model.WavFileURL" type="audio/wav" />
</audio>
<button type="button" class="btn btn-default" onclick='document.getElementById("audio").play()'>
    Mängi heli
</button>

<div>
    <label>Sõna: </label>
    <input id="0"
           name='@string.Join("|", Model.BlankSpace.CorrectAnswers)'
           type="text"
           onclick="resetBlankSpace(0)" />
    <button type="button" class="btn btn-primary" onclick="checkAnswers()">Esita</button>
</div>

<a class="btn btn-info" asp-page="./Etteytlus">Uus sõna</a>

@section Scripts
{
    <script type="text/javascript" src="~/js/myValidate.js"></script>
}