@page
@model KeelepuristMain.ExerciseGlossaryModel
@{
    ViewData["Title"] = "ExerciseGlossary";
}

<h1>Lünkadega harjutused</h1>
<div id="linkContainer" style="display: none">
    @foreach (var path in Model.BlobPaths)
    {
        <a asp-route-exerciseName="@path" asp-page="/Exercises/FillInBlanks">@path</a>
    }
</div>

<ul id="lünkharjutused/" class="file-system"></ul>

@section Scripts
{
    <script type="text/javascript" src="~/js/fileDisplayer.js"></script>
}
