@page
@model KeelepuristMain.FillInBlanksModel
@{
    ViewData["Title"] = "Täida lüngad";
}

<h1>Täida lüngad</h1>
@for (var i = 0; i < Model.Exercise.Texts.Count + Model.Exercise.BlankSpaces.Count; i++)
{
    // Even numbers are always text
    if (i % 2 == 0)
    {
        @Model.Exercise.Texts[i / 2]
    }
    // Odd numbers are always blank spaces
    else
    {
        <input id="@((i - 1) / 2)"
               name='@string.Join("|", Model.Exercise.BlankSpaces[(i - 1) / 2].CorrectAnswers)'
               type="text"
               onclick="resetBlankSpace(@((i - 1) / 2))"
               />
    }
}
<button type="button" onclick="checkAnswers()">Esita</button>

<a asp-page="/Exercises/ExerciseGlossary">Tagasi loendisse</a>

@section Scripts
{
    <script type="text/javascript" src="~/js/site.js"></script>
}