@page
@model KeelepuristMain.TestExerciseGlossaryModel
@{
    ViewData["Title"] = "TestExerciseGlossary";
}

<h1>Kontrolltööd</h1>

@foreach (var testPath in Model.BlobPaths)
{
    <a asp-route-testPath="@testPath"
       asp-page="/TestExercises/TestFillInBlanks">@testPath.Substring(testPath.LastIndexOf("/"))</a>
}