@page
@model KeelepuristMain.TestFillInBlanksModel
@{
    ViewData["Title"] = "TestFillInBlanks";
}

<h1>Täida kontrolltöö lüngad</h1>
<form method="post">
    @for (var i = 0; i < Model.Exercise.Texts.Count + Model.Exercise.BlankSpaces.Count; i++)
    {
        // Even numbers are always text
        if (i % 2 == 0)
        {
            @Model.Exercise.Texts[i / 2]
        }
        // Odd numbers are always blank spaces
        else
        {
            <input asp-for="UserAnswers[(i - 1) / 2]"
                   size="@(Model.Exercise.BlankSpaces[(i - 1) / 2].CorrectAnswers[0].Length + 1)" />
        }
    }
    <input type="hidden" asp-for="TestPath" />
    <input type="submit" value="Esita ja lõpeta" />
</form>
<div>
    <a class="btn btn-light" asp-page="/TestExercises/TestExerciseGlossary">Tagasi loendisse</a>
</div>
